.App {
  font-family: Rubik, sans-serif;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

html {
  background-color: lightblue;
}

button {
  margin: 1rem 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;
  color: black;
  font-weight: bold;
}

button:hover {
  border: 1px solid black;
  background-color: black;
  color: white;
  font-weight: bold;
}

ul li {
  list-style: none;
  padding: 1rem;
  background-color: paleturquoise;
  margin: 1rem auto;
  width: 70%;
}

.linebreak {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 1rem;
}

.showGenre {
  margin: 1rem auto 0.5rem;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  border: 2px solid black;
  background-color: black;
  color: paleturquoise;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}
